@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.process-container {
    .process {
        display: grid;
        grid-template-columns: 40px auto;
        align-items: center;
        padding: 10px 0;
        .process-icon {
            width: 30px;
            height: 30px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            &.queued {
                background-image: url('../../assets/queued-state.SVG');
            }

            &.running {
                background-image: url('../../assets/running-state.SVG');
                animation: rotate 2.5s linear infinite;
            }

            &.done {
                background-image: url('../../assets/done-state.SVG');
            }
        }
        .process-text {
            
        }
    }
}