@keyframes blink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.image-uploader-container {
    border: dashed 2px lightgray;
    border-radius: 5px;
    height: 300px;
    width: 400px;

    .image-viewer {
        background-size: 100px 100px;
        &.full-size {
            background-size: cover;
        }

        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }

    &.drag {
        .image-viewer {
            animation: blink 1s infinite alternate;
        }
    }
}